.apps-download {
  background-color: $color-dark-blue;
  height: 261px;
  display: grid;
  padding: 9px 0 0 0;

  &__button {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    width: 280px;
    height: 55px;
    border: 3px solid $color-white;
    border-radius: 29px;
    background-color: $transparent-glass;
    color: $color-white;
    margin: auto;
  }

  &--hover:hover {
    background-color: $color-white;
    color: $color-pink;
  }


  &__elements {
    display: flex;
    flex-direction: row;
    align-self: center;
    justify-content: center;
    min-width: 320px;
    gap: 35px;
    margin: 0;
  }

  &__text {
    display: inline-block;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    color: $color-white;
    margin: 0;
  }
}
