.card {
  position: relative;

  &__img {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;


    &--header {
      background-image: url(../../img/panorama-mobile.png);
      margin: 0;
      height: 137px;
    }

    &--photo-1 {
      background-image: url(../../img/photo-1-mobile.png);
      margin: 0 20px;
      height: 180px;
    }

    &--photo-2 {
      background-image: url(../../img/photo-2-mobile.png);
      margin: 0 20px;
      height: 180px;
    }

    &--photo-3 {
      background-image: url(../../img/photo-3-mobile.png);
      margin: 0 20px;
      height: 180px;
    }

    &--photo-4 {
      background-image: url(../../img/photo-4-mobile.png);
      margin: 0 20px;
      height: 180px;
    }

    &--photo-5 {
      background-image: url(../../img/photo-5-mobile.png);
      margin: 0 20px;
      height: 180px;
    }

    &--photo-6 {
      background-image: url(../../img/photo-6-mobile.png);
      margin: 0 20px;
      height: 180px;
    }
  }

  &__hit {
    position: absolute;
    background-color: $color-pink;
    padding: 6px 20px;
    color: $color-white;
    text-align: center;
    font-family: 'Open Sans';
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    top: 0px;
    right: 20px;
  }

  &__content-box {
    background-color: $color-gray;
    padding: 19px 5px 19px 18px;
    margin: 0 20px 20px;
  }

  &__autor {
    margin: 0;
    font-family: 'Open Sans';
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    color: $color-dark-blue;
  }

  &__text-light {
    color: $color-dark-blue;
    font-family: 'Open Sans';
    font-size: 12px;
    font-style: normal;
    font-weight: 300;
    line-height: 24px;
    text-transform: uppercase;
  }

  &__text {
    margin: 0;
    color: $color-dark-blue;
    font-family: 'Open Sans';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 9px;
  }

  &__statistical {
    display: flex;
    align-items: center;
    gap: 18px;
  }

  &__statistical-icon {
    fill: $color-pink;
  }

  &__statistical-text {
    margin: 0;
    color: $color-pink;
    font-family: 'Open Sans';
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    text-transform: uppercase;
  }
}

@media ($tablet) {
  .card {
    flex-basis: 48%;
    &__img {
      &--header {
        background-image: url(../../img/panorama-tablet.png);
        margin: 0;
        height: 509px;
      }

      &--photo-1 {
        background-image: url(../../img/photo-1-tablet.png);
        margin: 0;
        height: 300px;
      }

      &--photo-2 {
        background-image: url(../../img/photo-2-tablet.png);
        margin: 0;
        height: 300px;
      }

      &--photo-3 {
        background-image: url(../../img/photo-3-tablet.png);
        margin: 0;
        height: 300px;
      }

      &--photo-4 {
        background-image: url(../../img/photo-4-tablet.png);
        margin: 0;
        height: 300px;
      }

      &--photo-5 {
        background-image: url(../../img/photo-5-tablet.png);
        margin: 0;
        height: 300px;
      }

      &--photo-6 {
        background-image: url(../../img/photo-6-tablet.png);
        margin: 0;
        height: 300px;
      }
    }

    &__hit {
      top: 57px;
    }

    &__statistical {
      flex-direction: row-reverse;
      position: absolute;
      justify-content: end;
      gap: 15px;

      &--header {
        right: 30px;
        bottom: 73px;
      }
    }

    &__content-box {
      position: relative;
      padding: 23px 5px 16px 30px;
      height: 155px;
      margin: 0;
    }

    &__content-box--header {
      height: 82px;
      margin: 0 20px 50px;
    }
  }
}

@media ($desktop) {
  .card {
    flex-basis: 30%;
    height: 100%;
  }
}
