.contacts {
  &__text--big {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 120%;
    color: $color-dark-blue;
    text-align: center;
    padding: 40px 0 34px;
    margin: 0;
  }

  &__section {
    text-align: center;
  }

  &__title {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    margin: 0;
  }

  &__content--bright-text {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 33px;
    margin: 0;
    color: $color-pink;
    text-decoration: none;
  }

  &__content--bright-text:hover {
    color: $color-dark-blue;
    text-decoration: underline;
  }

  &__section--call {
    padding-bottom: 17px;
  }

  &__section--emile {
    padding-bottom: 21px;
  }
}

@media ($tablet) {
  .contacts {

    &__text--big {
      font-size: 40px;
      padding: 44px 0 34px;
      line-height: 137%;
    }

    &__section {
      text-align: center;
    }

    &__title {
      font-family: 'Open Sans';
      font-style: normal;
      font-weight: 700;
      font-size: 18px;
      line-height: 25px;
      margin: 0;
    }

    &__content--bright-text {
      font-family: 'Open Sans';
      font-style: normal;
      font-weight: 300;
      font-size: 24px;
      line-height: 33px;
      margin: 0;
      color: $color-pink;
      text-decoration: none;
    }

    &__content--bright-text:hover {
      color: $color-dark-blue;
      text-decoration: underline;
    }

    &__item {
      display: grid;
      grid-template-rows: 1fr 1fr;
    }

    &__section--call {
      padding: 0 0 43px 20px;
      font-size: 24px;
      line-height: 25px;
    }

    &__section--emile {
      padding: 0 2px 43px 0;
      font-size: 24px;
      line-height: 25px;
    }

    &__section--address {
      font-size: 24px;
      line-height: 25px;
      grid-column: 1 / 3;
    }
  }
}

@media ($desktop) {
  .contacts {

    &__text--big {
      font-size: 50px;
      padding: 59px 0 39px;

    }

    &__item {
      display: flex;
      justify-content: space-between;
      margin: 0 162px 0 175px;
    }

    &__section--call {
      order: 1;
      margin-right: 13px;
      padding: 0;
    }

    &__section--emile {
      order: 3;
      padding: 0;
    }

    &__section--address {
      padding: 0;
      order: 2;
    }

    &__title {
      margin-bottom: 20px;
    }
  }
}
