.developed {
  display: flex;
  align-items: center;
  gap: 15px;
  justify-content: center;

  &__text {
    color: $color-dark-blue;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    margin: 0;
  }

  &__icon {
    fill: $color-pink;
  }

  &__icon:hover {
    fill: $color-dark-blue;
  }
}

@media ($tablet) {
  .developed {
    &__icon {
      margin-top: 5px;
    }
  }
}
