.features {
  background-color: $color-white;
  margin: 0 auto;
  height: 1002px;
  overflow: hidden;
  font-size: 100%;
  background-image: url(../../img/grey-background.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;

  &__header {
    display: flex;
    flex-direction: column;
    grid-row: 1/2;
    grid-column: 2/3;
    height: 229px;
    margin: 0;
    justify-content: center;
    gap: 25px;
  }

  &__slogan {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 120%;
    margin: 0;
    text-align: center;
  }

  &__pages {
    display: flex;
    flex-direction: column;
    justify-content: end;
    margin: 0 auto;
    padding: 70px 20px 0;
  }

  &__content {
    list-style-type: none;
    margin: 0;
  }

  &__subtitle {
    margin-top: 0;
  }

  &__text {
    margin-top: 0;
  }

  &__iphone3 {
    background-image: url(../../img/phone-mobile.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
    position: relative;
    top: 42px;
    height: 320px;
    width: 157px;
    margin: -15px auto;
  }
}
