.features {
  &__box {
    height: 1002px;
    background-color: $color-white;
    background-image: url(../../img/grey-background.png);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: 100vw 827px;
    position: relative;
  }

  &__header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 40px 20px 62px;
    height: 147px;
    align-items: center;

  }

  &__pages {
    padding: 30px 23px 0;
    margin: 0;
  }

  &__slogan {
    text-align: center;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    margin: 0;
    line-height: 120%;
    color: $color-dark-blue;
  }

  &__content {
    list-style-type: none;
    text-align: center;

  }

  &__subtitle {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    margin: 19px 0 12px;

  }

  &__text {
    text-align: center;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    margin: 12px 0 31px;
  }

  &__iphone3 {
    background-image: url(../../img/phone-mobile.png);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: contain;
    width: 157px;
    height: 320px;
    position: absolute;
    bottom: -4.3%;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
  }
}

@media ($tablet) {
  .features {
    &__box {
      background-image: url(../../img/grey-background-tablet.png);
      height: 725px;
      background-size: 100vw 495px;
    }

    &__header {
      justify-content: center;
      padding: 53px 20px 21px;
      height: 149px;
      align-items: center;
    }

    &__slogan {
      font-style: normal;
      font-weight: 300;
      font-size: 40px;
      margin: 0;
      line-height: 55px;
    }

    &__pages {
      display: flex;
      flex-direction: column;
      padding: 57px 23px 0;
      margin: 0 auto;
      width: 610px;
    }

    &__content {
      align-self: flex-end;
      width: 305px;
    }

    &__subtitle {
      text-align: start;
      margin: 34px 0 12px;
    }

    &__text {
      text-align: start;
      font-family: 'Open Sans';
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 24px;
      margin: 0;
    }

    &__iphone3 {
      background-image: url(../../img/phone-tablet.png);
      background-position: bottom;
      background-repeat: no-repeat;
      background-size: contain;
      width: 268px;
      height: 547px;
      position: absolute;
      bottom: -4.3%;
      margin-left: auto;
      margin-right: auto;
      left: -351px;
      top: 243px;
    }
  }
}

@media ($desktop) {
  .features {
    &__header {
      padding: 79px 20px 62px;
      height: 169px;
    }

    &__slogan {
      font-size: 50px;
      font-weight: 300;
      line-height: 68px;
    }
  }
}
