.footer {
  padding-top: 5px;
  display: flex;
  min-width: 320px;
  height: 284px;
  align-items:center;
  justify-content:center;
  &__logo {
    display: flex;
    gap: 12px;
    justify-content: center;
    align-items: baseline;
  }

  &__social {
    display: flex;
    list-style-type: none;
    padding: 0;
  }

  &__developer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
  }

  &__developer-text {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color:$color-dark-blue;
  }
}
