.header {
  position: relative;

  &__main {
    background-color: $color-dark-blue;
    background-image: url(../../img/back-mobile.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    position: relative;
    height: 462px;
  }

  &__menu {
    position: absolute;
    right: 0;
    left: 0;
  }

  &__control--static {
    background-color: $color-glass;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 20px 16px 20px;
    position: relative;
  }

  &__control--active {
    background-color: $color-dark-blue;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 22.5px 20px;
    position: relative;
    border-bottom: 1px solid $color-black;
  }

  &__nav-menu {
    margin: 0;
    text-decoration: none;
    padding: 0;
    background-color: $color-dark-blue;
  }

  &__item {
    border-bottom: 1px solid $color-black;
    border-top: 1px solid $color-smoke;
    list-style-type: none;
  }

  &__link {
    text-decoration: none;
    text-align: center;
    height: 64px;
    background-color: $color-dark-blue;
    color: $color-white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 32px;
  }

  &__link:hover {
    color: $color-pink;
  }

  &__slogan {
    display: flex;
    justify-content: center;
    align-items: end;
    margin: 0 auto;
    padding: 0 20px 29px;
    height: 147px;
    color: $color-white;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 120%;
    text-align: center;
  }

  &__phone-hand {
    position: absolute;
    background-image: url(../../img/mobile-phone-hand.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 286px;
    width: 320px;
    bottom: 0;
    text-align: center;
    left: 0;
    right: 0;
    margin: auto;
  }

  &__section-logo {
    align-items: end;
    display: flex;
    gap: 12px;
  }
}

@media ($mobile) {
  .header {
    &__main {
      background-color: $color-dark-blue;
      background-image: url(../../img/back-tablet.png);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      display: flex;
      position: relative;
      height: 729px;
    }

    &__control--static {
      background-color: $color-glass;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 27px 20px 43px 20px;
      position: relative;
    }

    &__phone-hand {
      position: absolute;
      background-image: url(../../img/tablet-phone-hand.png);
      background-size: contain;
      background-repeat: no-repeat;
      bottom: 0;
      text-align: center;
      left: 0;
      right: 0;
      margin: auto;
      width: 660px;
      height: 545px;
    }
  }
}

@media ($tablet) {
  .header {

    &__main {
      display: grid;
      position: relative;
      grid-template-columns: 20px 300px 340px;
      grid-template-rows: 204px 126px 280px 119px;
    }

    &__slogan {
      grid-row: 2 / 3;
      grid-column: 2 / 3;
      display: flex;
      justify-content: center;
      margin: 0 auto;
      align-items: start;
      width: 186px;
      color: $color-white;
      font-size: 40px;
    }
  }
}
