.map {
  background-image: url(../../img/map-mobile.png);
  background-repeat: no-repeat;
  background-size: cover;
  min-width: 320px;
  max-width: 400px;
  height: 210px;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
  &__triangle {
    position: relative;
    top: -80px;
    min-width: 320px;
  }
  &__geolocation {
    position: relative;
    top: -25px;
    margin: 0 auto;
  }
}
