.page-main__header {
    background-color: $color-dark;
    background-image: url(/source/img/back-mobile.png);
    color: $color-white;
    text-align: center;
}

.page-main__features-main {
    background-image: url(/source/img/grey-background.png);
    background-repeat: no-repeat;
}