.page__header {
  background-color: $color-dark;
  display:grid;
  grid-template-columns: 130px 147px 169px 620px 130px;
  grid-template-rows: 110px;
  align-items: center;
}

.page-header__nav-logo {
  grid-column: 2/3;
}

.page-header__nav {
  grid-column: 4/5;
}

.page-header__menu {
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  padding:0;
}

.page-header__link {
  color: $color-white;
  text-decoration: none;
}

.page-header__item {
  list-style-type: none;
  background-color: $color-dark-blue;
}

.page-main__header-text {
  color: $color-white;
}
.page-header__nav {
  width: 620px;
  height: 110px;
}

.page-header__nav-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}



@media ($desktop) {
  .page-header__toggler-mobile,
  .logo__white-tablet {
    display: none;
  }
}
