.page-main__header {
    background-color: $color-dark;
    background-image: url(/source/img/back-mobile.png);
    color: $color-white;
    text-align: center;
}

.page-main__features-header {
    background-color: $color-white;
}

.page-main__features {
    background-color: $color-SW;
}