.page-main__header {
  height: 462px;
  background-color: $color-dark;
  background-image: url(../../img/back-mobile.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size:cover;
}

.page-main__mobile-phone-hand {
  margin-top: 140px;
}

