.slider {

  // блок слайлов с отзовами пользователей
  &__reviews {
    padding: 26px 20px;
    position: relative;
    background-color: $color-white;
    height: 237px;
  }

  &__author {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    margin: 14.5px 0;
  }

  &__text {
    text-align: center;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 30px;
  }

  // лист таблицы

  &__page-table {
    overflow: auto;
    height: 506px;
    background-image: url(../../img/grey-background-min.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100vw 506px;
    padding: 0;
    padding-top: 10px;
  }

  &__table {
    padding-top: 123px;
    margin: auto;
    margin-left: auto;
  }
}

@media ($tablet) {
  .slider {
    &__reviews {
      display: flex;
      flex-direction: column;
      text-align: center;
      height: 195px;
      padding: 20px 5px;
    }

    &__author {
      order: 2;
      font-family: "Open Sans";
      font-size: 20px;
      font-weight: 700;
      line-height: 30px;
      margin: 0;
    }

    &__about {
      order: 3;
      font-size: 14px;
      font-family: "Open Sans";
      font-weight: 400;
      line-height: 30px;
      display: initial;
      margin: 0;
    }

    &__text {
      margin: 0;
      font-size: 18px;
      font-family: 'Open Sans';
      font-weight: 400;
      line-height: 30px;
      order: 1;
      margin: 0 0 36px;
    }
  }
}
