.slider {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: 364px;
}

.slider__box {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.slider__reviews {
  background-color: $color-white;
  min-width: 320px;
  position: relative;
  height: 300px;
}

.slider__author {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
}

.slider__controls {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 19px;
}

// page-main__slider



// slider__text

// slider__button-carousel

// slider__button-carousel--active


.slider__table-header {
  background-color: $color-dark-blue;
  color: $color-white;
}
