.slider {
    background-color: $color-white;
}

.slider__table-header {
    background-color: $color-dark-blue;
    color: $color-white;
}
// slider__content

// page-main__slider

// slider__author

// slider__text

// slider__button-carousel

// slider__button-carousel--active
