.table {

  &__header {
    height: 47px;
    background-color: $color-dark-blue;
    color: $color-white;
    padding: 17px 0 31px;
    position: relative;
  }

  &__rate {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    margin: 0 0 5px;
    color: $color-white;
  }

  &__price {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    margin: 0;
    color: $color-white;
  }

  &__content {
    width: 239px;
    height: 56.2px;
    padding: 0 17px 0 19px;
    display: inline-flex;
    justify-content: space-between;
    background-color: $color-white;
    align-items: center;
  }

  &__text {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    margin: 0;
    color: $color-dark-blue;
  }

  &__img-no {
    width: 27px;
    height: 27px;
    padding: 0 2px;
  }

  &__img-yes {
    width: 31px;
    height: 21px;
  }

  &__cell-left {
    display: none;
  }

  &__none {
    display: none;
  }

  &__hit {
    background-image: url(../../img/hit.png);
    background-size: contain;
    width: 74px;
    height: 74px;
    position: absolute;
    top: 0;
    left: 0;
  }

  &__hit-text {
    transform: rotate(-45deg);
    margin: 0;
    position: absolute;
    top:15px;
    left:15px;
    font-family: Open Sans;
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: center;
  }
}

@media ($tablet) {
  .table {
    &__header {
      height: 47px;
      background-color: $color-dark-blue;
      color: $color-white;
      padding: 16px 0 14px;
    }

    &__rate {
      font-family: 'Open Sans';
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      margin: 0 0 3px;
      color: $color-white;
    }

    &__price {
      font-family: 'Open Sans';
      font-style: normal;
      font-weight: 300;
      font-size: 18px;
      margin: 0;
      color: $color-white;
    }

    &__content {
      width: 115px;
      height: 42.2px;
      padding: 0 17px 0 20px;
      display: inline-flex;
      justify-content: space-between;
      background-color: $color-white;
      align-items: center;
    }

    &__text-left {
      font-family: 'Open Sans';
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      margin: 0;
      color: $color-dark-blue;
    }

    &__text {
      display: none;
    }

    &__img-no {
      width: 27px;
      height: 27px;
      padding: 0 2px;
      margin: 0 auto;
    }

    &__img-yes {
      width: 31px;
      height: 21px;
      margin: 0 auto;
    }

    &__cell-left {
      width: 150px;
      height: 40px;
      background-color: $color-white;
      display: revert;
    }

    &__none {
      display: revert;
      height: 75px;
    }

    &__hit {
      background-image: url(../../img/hit.png);
      background-size: contain;
      width: 61px;
      height: 61px;
      position: absolute;
      top: 0;
      left: 0;
    }

    &__hit-text {
      transform: rotate(-45deg);
      margin: 0;
      position: absolute;
      top: 10px;
      left: 10px;
      font-family: Open Sans;
      font-size: 14px;
      font-weight: 400;
      line-height: 30px;
      letter-spacing: 0em;
      text-align: center;
    }
  }
}

@media ($desktop) {
  .table {
    &__header {
      height: 77px;
      padding: 10px 0 10px;
    }

    &__rate {
      font-size: 18px;
      margin: 0 0 3px;
    }

    &__price {
      font-size: 24px;
    }

    &__content {
      width: 196px;
      height: 56.2px;
      padding: 0 17px 0 19px;
    }

    &__text-left {
      font-size: 18px;
      margin: 0;
    }

    &__hit {
      background-image: url(../../img/hit.png);
      background-size: contain;
      width: 74px;
      height: 74px;
      position: absolute;
      top: 0;
      left: 0;
    }

    &__hit-text {
      transform: rotate(-45deg);
      margin: 0;
      position: absolute;
      top: 15px;
      left: 15px;
      font-family: Open Sans;
      font-size: 14px;
      font-weight: 400;
      line-height: 30px;
      letter-spacing: 0em;
      text-align: center;
    }
  }
}
