$color-glass: rgba(0, 0, 0, 0.25);
$transparent-glass: transparent;
$color-dark: rgba(29, 38, 49, 1);
$color-white: rgba(255, 255, 255, 1);
$color-gray: rgba(242, 242, 242, 1);
$color-dark-blue: rgba(40, 54, 69, 1);
$color-black: rgb(0, 0, 0);
$color-light: rgba(255, 255, 255, 0.15);
$color-pink: rgba(210, 40, 86, 1);
$color-smoke: rgb(94, 94, 110);


$mobile: "max-width: 659px";
$tablet: "min-width: 660px";
$desktop: "min-width: 1200px";
