$color-dark: rgba(29, 38, 49, 1);
$color-white: rgba(255, 255, 255, 1);
$color-SW: rgb(255, 255, 255);
$color-dark-blue: rgba(40, 54, 69, 1);
$color-black: rgb(0, 0, 0);
$color-light: rgba(255, 255, 255, 0.15);


$mobile: "max-width: 659px";
$tablet: "min-width: 660px";
$desktop: "min-width: 1200px";
